body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

a {
  color: initial;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

.example {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

p,
h3,
h2 {
  margin: 0;
}

.section {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Navbar CSS Start */
.hide-it {
  display: none;
}

.transform {
  animation: navup 0.5s both !important;
}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 9;
}

.transform-overlay {
  animation: overlayup 0.5s both !important;
}

.transform-down {
  animation: navdown 0.5s both !important;
}

.transform-overlay-down {
  animation: overlaydown 0.5s both !important;
}

.icon {
  position: fixed;
  right: 0;
  margin-top: 22px;
  top: 0;
  margin-right: 48px;
  cursor: pointer;
  z-index: 99;
}

.side-bar {
  position: fixed;
  right: 0;
  top: 0;
  width: 345px;
  height: 100vh;
  background-color: #1c6758;
  z-index: 999;
}

.inner-links {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  flex-direction: column;
}

.dp {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dp p {
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 !important;
  margin-left: 6px !important;
  color: #ffffff;
}

.dp img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.refrence-links ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.refrence-links ul li {
  background: #eef2e6;

  width: 200px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px 0;
  text-align: center;
  border-radius: 15px;
}

.refrence-links ul li a {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;

  text-align: center;

  color: #1c6758;
}

.hide-bar {
  position: absolute;
  right: 0;
  margin-right: 20px;
  bottom: 20px;
  cursor: pointer;
}

.hide-bar img {
  width: 30px;
}

/* Navbar CSS End */
/* Header CSS Start */
.landing-head {
  height: 12vh;
}

.landing-head p {
  padding-top: 36px !important;
  padding-bottom: 25px !important;
  margin-left: 19px !important;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  margin: 0;
  color: #000000;
}

.landing-img {
  height: 90vh;
}

.landing-img img {
  width: 100%;
  height: 100%;
}

/* Header CSS End */
/* Profile CSS Start */
.profile-bg {
  background-image: url("../assets/profile-page/i-na-portrait.jpg");

  background-size: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  opacity: 0.6;
  min-height: 120vh;
}

.profile-bg h3 {
  position: absolute;
  top: 160px;
  left: 160px;
  color: white;
}

.profile-bg p {
  color: white;
  position: absolute;
  top: 240px;
  width: 436px;
  left: 160px;
}

.profile-bg h3 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  color: #ffffff;
}

.arrow {
  text-align: center;
  cursor: pointer;
}

.arrow img {
  width: 80px;
  position: absolute;
  bottom: 0;
}

.modal {
  bottom: 0;
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 9999999999;
}

.modal-content {
  position: relative;
}

.project-modal {
  border-radius: 18px;
  box-shadow: 0 4px 26px -11px rgb(0 0 0 / 50%);
  height: auto;
  margin-top: 50px !important;
  margin: 0 auto;
  padding: 40px 50px !important;
  position: relative;
  width: 70vw;
  height: 75vh;
  z-index: 999999999;
  background: #eef2e6;
  border-radius: 15px;
}

.highlight {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;

  color: #000000;
}

.content-block {
  display: flex;
  justify-content: space-between;
}

.block {
  width: 45%;
}

.cv-btn {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.cv-btn a {
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.Modaloverlay {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 9;
}

/* Profile CSS End */
/* Concept page CSS Start */
.main-container-bg {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #D6CDA4;
}

.yellow-bg {}

.main-concept {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 40px 40px 0 40px;
}

.concept-block {
  width: 45%;
}

.concept-block h3 {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;

  color: #000000;
}

.concept-block p {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;

  color: #000000;
}

.concept-block img {
  position: absolute;
  bottom: 0;
  width: 35%;
}

.concept-button {
  text-align: center;
  margin: 25px 0;


}

.concept-button button {
  cursor: pointer;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #000000;
  width: 204px;
  height: 41px;
  text-align: center;
  outline: none;
  border: none;

  background: #EEF2E6;
  border-radius: 15px;
}

.youtube-video {
  margin: 30px 0;
  text-align: center;
}

.youtube-video iframe {
  margin: 0 auto;
}

/* Concept page CSS End */
/* Creative page CSS Start */
.main-container {}

.main-creative {
  box-sizing: border-box;
  background-color: #D6CDA4;
  min-height: 200vh;
  width: 100%;
  padding-top: 80px;
}

.eclipse img {
  position: absolute;
  /* left: 50%; */
  z-index: 999;
  left: 0;
  right: 0;
  margin: auto;
}

.eclipse p {
  position: absolute;
  left: 52%;
  z-index: 999;

  /* left: 0; */
  right: 0;
  margin: auto;
}



.line img {
  height: 1050px;
  width: 1px !important;
}

.ec-space {
  margin-top: 250px !important;
  margin-bottom: 250px !important;
}

.ec-space2 {
  margin-top: 450px !important;
  margin-bottom: 450px !important;
}

.ec-space3 {
  margin-top: 650px !important;
  margin-bottom: 650px !important;
}

.ec-space4 {
  margin-top: 850px !important;
  margin-bottom: 850px !important;
}

.ec-space5 {
  margin-top: 1050px !important;
  margin-bottom: 1050px !important;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  /* left: 50%; */
  z-index: 999;
  top: 130px;
  left: -520px;
  right: 0;
  cursor: pointer;
  margin: auto;
}


.extra-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  /* left: 50%; */
  z-index: 999;
  top: 180px;
  left: 170px;
  right: 0;

  margin: auto;
}

.extra-image-line {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  /* left: 50%; */
  z-index: 999;
  top: 220px;
  left: -40px;
  right: 0;

  margin: auto;

}

.extra-image-box span {
  background-color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.extra-image-other {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  /* left: 50%; */
  z-index: 999;
  top: 250px;
  left: 40px;
  right: 0;

  margin: auto;
}

.eclipse P {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}

.extra-image-other2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  /* left: 50%; */
  z-index: 999;
  top: 280px;
  left: -40px;
  right: 0;

  margin: auto;
}

.area-modal {
  border-radius: 18px;
  box-shadow: 0 4px 26px -11px rgb(0 0 0 / 50%);
  /* height: 100%; */
  margin-top: 50px !important;
  margin: 0 auto;
  padding: 10px 50px 50px 50px !important;
  position: relative;
  width: 60vw;
  /* height: 75vh; */
  z-index: 999999999;
  overflow: auto;
  background: #eef2e6;
  border-radius: 15px;
}

.content-area-modal h1 {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
  text-align: center;


}

.youtube-vid {
  margin: 0 auto;
  text-align: center;
}

.youtube-vid iframe {
  width: 50%;
  height: 50%;
}

.youtube-vid p {
  margin-top: 50px !important;
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}

.content-area-modal h4 {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}

.last-para {
  margin-bottom: 30px;
}

/* Creative page CSS End */
/* My Book page CSS Start */
.main-book {
  background-color: #D6CDA4;
  padding: 80px;
  min-height: 100vh;
}

.upper, .lower {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.upper img, .lower img {
  cursor: pointer;

  min-height: 439px;
  margin: 50px 0;
  width: 300px;
}



.book-img {
  width: 40% !important;
}

.book-detail {
  width: 55% !important;
}

/* My Book page CSS End */
/* Stories page CSS Start */
.main-stories {
  background-color: #D6CDA4;
  min-height: 100vh;

}

.heading-story {
  text-align: center;
  padding: 35px 0;
  font-weight: lighter;
  font-size: 30px;
}

.block-story {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: flex-start;

}

.story-section {
  background-color: white;

  background: #EEF2E6;
  border-radius: 15px;
  padding: 30px 20px;
  margin: 10px 0;
  cursor: pointer;
  height: auto;
}

.story-section h3 {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 42px;

  color: #000000;

}

.story-section p {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #000000;

}



.story-section img {
  width: 250px;
  height: 230px;

  padding: 15px 0;
}

.empty {
  width: 300px;
  height: 400px;
}

.small-modal {
  width: 40vw !important;
}

.prev {
  left: 40px;
  position: absolute;
  top: 21vw;
  cursor: pointer;
}

.next {
  right: 40px;
  position: absolute;
  top: 21vw;
  cursor: pointer;
}

.mySlides img {
  width: 100%;
}

/* Stories page CSS End */
/* space page CSS Start */
.new {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.new h3 {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  color: #000000;
}

.new p {
  text-align: center;
  font-size: 22px;
}



/* space page CSS End */
/* Team page CSS Start */
.main-team {
  background-color: #D6CDA4;
  min-height: 100vh;
}

.main-team h3 {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;

  padding: 20px 0;
  padding-top: 35px;

  color: #000000;
  text-align: center;
}

.team-block {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.team-sec img {
  padding: 15px;
}

.team-sec {
  background-color: white;
  margin: 0 20px;
  position: relative;
  cursor: pointer;
}

.imgoverlay {
  position: absolute;
  width: 100%;
  opacity: 0;
  visibility: hidden;


  height: 100%;
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.5);
}

.text-ul {
  list-style: none;
  position: absolute;
  z-index: 9999;
  top: 0;
  opacity: 0;
  visibility: hidden;


  margin-top: 20px;
  padding: 0;
  padding-left: 30px;
}

.text-ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;

  color: #000000;

}

.title-text {
  opacity: 0;
  visibility: hidden;


  padding-left: 30px !important;
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
  z-index: 99;
}

.title-text p {
  margin: 0;
}

.title-text h3 {
  font-style: normal;
  margin: 0;
  padding: 0;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}

.team-sec:hover .title-text,
.team-sec:hover .imgoverlay,
.team-sec:hover .text-ul {
  visibility: visible;
  opacity: 1;
}

/* Team page CSS End */
/* Contact page CSS Start */
.main-contact {
  background-color: #D6CDA4;
  min-height: 100vh;






  box-sizing: border-box;


  padding-top: 100px !important;
}

.inner-contact {
  background: #EEF2E6;
  border-radius: 15px;
  width: 75vw;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
  height: 75vh;
}

.inner-contact h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  margin-top: 10px;
  text-align: center;

  color: #000000;

}

.social-img {
  text-align: center;
  margin-top: 80px;
}

.social-img a {
  margin: 0 5px;
}

/* Contact page CSS End */

/* Responsive CSS */
@media (max-width: 1366px) {
  .refrence-links ul li a {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;

    text-align: center;

    color: #1c6758;
  }

  .refrence-links ul li {
    background: #eef2e6;

    width: 180px;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 4px 0;
    text-align: center;
    border-radius: 15px;
  }
}

/* Navbar Animation */
@keyframes navup {
  from {
    right: -250px;
  }

  to {
    right: 0;
  }
}

@keyframes overlayup {
  from {
    background-color: transparent;
  }

  to {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

@keyframes overlaydown {
  from {
    background-color: rgba(255, 255, 255, 0.5);
  }

  to {
    background-color: transparent;
  }
}

@keyframes navdown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Responsive Media Query */
@media (min-width:1450px) {
  .profile-bg h3 {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 5vw;
    line-height: normal;
    color: #ffffff;
    top: 200px;
    left: 160px;
  }

  .profile-bg p {
    color: white;
    position: absolute;
    top: 186px;
    font-size: 1.3vw;
    width: 27vw;
    margin-top: 100px;
    left: 160px;


  }

  .concept-block img {
    position: absolute;
    bottom: 0;
    width: 33%;
  }

}

@media (min-width:1500px) {
  .concept-block h3 {

    font-size: 45px;
  }

  .youtube-video {
    margin: 50px 0;
    text-align: center;
  }

  .youtube-video iframe {
    margin: 0 auto;
    width: 450px;
    height: 300px;
  }
}

@media (min-width:1650px) {
  .profile-bg p {
    color: white;
    position: absolute;

    font-size: 1.3vw;
    width: 27vw;
    margin-top: 120px;
    left: 160px;
  }




  .youtube-video {
    margin: 70px 0;
    text-align: center;
  }

}

@media (min-width:1750px) {
  .main-concept {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 97px 41px 0 74px;
  }



  .youtube-video {
    margin: 70px 0;
    text-align: center;
  }

}

@media (min-width:2000px) {
  .upper img, .lower img {

    min-height: 400px;
    margin: 50px 0;
    width: 400px;
  }

  .profile-bg p {
    color: white;
    position: absolute;

    font-size: 1.3vw;
    width: 27vw;
    margin-top: 180px;
    left: 160px;
  }

  .main-container-bg {
    position: relative;
    width: 100%;
    min-height: 100%;
    background-color: #D6CDA4;
  }

}